<div class="component">
	<form>
		<div class="mb-3 row">
			<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
			<div class="col-xs-3 col-sm-auto">
				<input
					id="table-complete-search"
					type="text"
					class="form-control"
					name="searchTerm"
					[(ngModel)]="service.searchTerm"
				/>
			</div>
			<span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Order</th>
					<th scope="col">Date</th>
					<th scope="col">Total</th>
					<th scope="col">Store</th>
					<th scope="col">Histories</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let order of orders$ | async">
					<td><ngb-highlight [result]="order.name" [term]="service.searchTerm"></ngb-highlight></td>
					<td><ngb-highlight [result]="order.date.toDateString().slice(4)" [term]="service.searchTerm"></ngb-highlight></td>
					<td><ngb-highlight [result]="order.total" [term]="service.searchTerm"></ngb-highlight></td>
					<td><ngb-highlight [result]="order.store" [term]="service.searchTerm"></ngb-highlight></td>
					<td><ngb-highlight [result]="order.histories" [term]="service.searchTerm"></ngb-highlight></td>
					<td>
						<div ngbDropdown class="d-inline-block">
							<button class="btn btn-outline-primary" id="dropdownMenuButton{{ order.id }}" ngbDropdownToggle>
								{{ convertStatus(order.status) }}
							</button>
							<div ngbDropdownMenu attr.aria-labelledby="dropdownMenuButton{{ order.id }}">
								<button ngbDropdownItem *ngFor="let status of Object.keys(OrderStatus)" (click)="updateOrderStatus(order, camelToSnake(status), convertStatus(status))">
									{{ convertStatus(status) }}
								</button>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="d-flex justify-content-between p-2">
			<ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
			</ngb-pagination>
		</div>
	</form>
</div>
